body {
    background-color: beige;
    font-family: sans-serif;
}

#structured {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
}

#raw {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
}

#iconFrame {
    background-color: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 5px;
}

#icon {
    width: 300px;
    height: 300px;
}

#iconNames {
    width: 150px;
}

textarea {
    border: 0;
    padding: 0;
    margin: 0;
    width: 350px;
}

td {
    vertical-align: bottom;
}

#vertices {
    height: 350px;
    letter-spacing: 0.5em;
    resize: none;
    overflow: hidden;
}

#segments {
    padding-top: 1em;
    height: 200px;
    resize: none;
}

#drawing td {
    vertical-align: top;
}

#iconOption td {
    vertical-align: bottom;
}

#iconOption label {
    display:  inline-block;
    font-size: 12px;
    /*white-space: nowrap;*/
}

#iconOption label input {
    display: block;
    /*white-space: nowrap;*/
}

#iconOption label select {
    display: block;
    height: 22px;
    /*white-space: nowrap;*/
}

